torch>=2
torchaudio>=2
--extra-index-url https://download.pytorch.org/whl/cpu

datasets==3.3.0
deepmultilingualpunctuation==1.0.1
gdown==5.2.0
nltk==3.9.1
numpy==1.26.4
pytextrank==3.3.0
pydub==0.25.1
pymediainfo==6.1.0 #latest 7.0.1
silero-vad==5.1.2
spacy==3.8.4
transformers==4.39.3 #latest 4.48.3
srt==3.5.3
ffmpeg-python==0.2.0
scenedetect[opencv-headless]==0.6.5.2
#git+https://github.com/m-bain/whisperx.git@9b9e03c4cc88ddfbbdf5f896918e57dc0298db41
git+https://github.com/m-bain/whisperx.git